.btn{
    padding: 8px 1rem;
    border: 1px solid #000;
    color: #fff;
}

.btn:first-of-type{
    background-color: rgb(53, 223, 67);
}

.btn:not(:first-of-type){
    background-color: #000;
}


.btn:last-of-type{
    margin-left: 1rem;
}

.top-nav-wrapper{
    margin-top: 1rem;
}

